# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse
* @Litogin
* @tau27

# Translations
*.ftl @Morb0 @DIMMoon1 @ficcialfaint

# Maps
/Resources/Prototypes/Maps/** @Morb0 @DIMMoon1 @Ko4ergaPunk
/Resources/Maps/** @Morb0 @DIMMoon1 @Ko4ergaPunk
/Resources/Prototypes/_WL/Maps/** @0leshe
/Resources/Maps/_WL/** @0leshe

# Sprites
/Resources/Textures/** @Morb0 @DIMMoon1 @SonicHDC
